@import "../../styles/colors.scss";

.main__block_wrapper {
    width: 1440px;
    height: 100%;
    background-color: $s-light;
    margin: 0 auto;
    padding: 12px 12px 0px 12px;
}

@media (max-width: 1200px) {
    .main__block_wrapper {
        width: 1200px;
    }
}

@media (max-width: 320px) {
    .main__block_wrapper {
        width: 320px;
    }
}