@import "../../styles/colors.scss";

.feedback__comment_wrapper {
    margin-left: -175px;
    margin-bottom: 20px;
    button {
        background-color: rgba(0, 0, 0, 0);
        color: $white;
        cursor: pointer;
    }
}

.slider__comment_text {
    width: 830px;
    height: 280px;
    overflow: hidden;
    padding: 10px;
    margin-left: 178px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 1px;
    color: $white;
    font-weight: 400;
    font-size: 38px;
    text-align: left;
}

.slider__full_comment {
    @extend .slider__comment_text;
    height: auto;
    overflow: visible;
}

.feedback__user_wrapper {
    position: absolute;
    left: 10px;
    margin-top: 316px;
    text-align: left;
    width: 500px;
    display: flex;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: $white;
}
.feedback__comment_name {
    margin-bottom: 50px;
    margin-left: 10px;
    font-weight: 600;
}
.feedback__comment_user {
    padding-left: 10px;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: $white;
}

@media (max-width: 320px) {
    .feedback__comment_wrapper {
        height: 318px;
        margin-top: -167px;
        margin-left: 30px;
        position: relative;
        button {
            display: none;
        }
    }
    .slider__comment_text {
        margin-left: -26px;
        width: 264px;
        height: 320px;
        overflow: hidden;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.2px;
        color: $white;
        text-align: left;
    }
    .feedback__user_wrapper {
        position: absolute;
        left: 264px;
        display: flex;
        flex-direction: column;
        text-align: left;
        color: $white;
        margin-top: 220px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.2px;
    }
    .feedback__comment_name {
        margin-bottom: 50px;
        margin-left: -250px;
    }
    .feedback__comment_user {
        position: absolute;
        top: 75px;
        margin-top: -50px;
        margin-left: -260px;
        font-size: 16px;
        font-weight: 400;
    }
}