@import "../../styles/colors.scss";

.slider__wrapper {
    width: 100%;
    height: 700px;
    border-radius: 12px;
    background-color: $primary;
    position: relative;
}

.slider__round_block {
    width: 388px;
    height: 388px;
    border-radius: 50%;
    background: linear-gradient(41.63deg, #FFFFFF 8.13%, rgba(255, 255, 255, 0) 84.6%);
    opacity: 0.1;
    position: absolute;
    top: 100px;
    right: 80px;
}

.slider__feedback_wrapper {
    width: 1000px;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    left: 31px;
    position: relative;
    display: flex;
}

.slider__buttons_wrapper {
    width: 116px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 144px;
    right: 80px;
}

.slider__button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: $white;
    background-color: $p-light;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 0px 0px #E6E6E6, 0px 1px 5px rgba(99, 114, 130, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
}

.slider__button_disabled {
    @extend .slider__button;
    color: rgba(255, 255, 255, 0.4);
}

.main__feedback {
    width: 850px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.slider__block_wrapper {
    padding-top: 177px;
    min-width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
}

@media (max-width: 320px) {
    .slider__round_block {
        display: none;
    }
    .slider__wrapper {
        width: 296px;
        height: 520px;
    }
    .slider__buttons_wrapper {
        width: 116px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 16px;
        left: 16px;
    }
    .slider__feedback_wrapper {
        margin-left: -30px;
        width: 264px;
        min-height: 351px;
        position: relative;
        display: flex;
    }
    .main__feedback {
        width: 264px;
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .slider__block_wrapper {
        transition: 0.5s;
        display: flex;
        justify-content: center;
    }
}